@page
@using Collabed.JobPortal.Web.Pages.Shared.Components.Input;
@model Collabed.JobPortal.Web.Pages.Account.AccountTypeModel

<div class="container align-items-center">

    <div class="row" style="margin-top:10%;">
        <div class="col" style="min-width:300px; margin-bottom:2%;">
            <div class="card">
                <div class="card-header text-center">
                    <i class="bi bi-search" style="color: #2F70B6; font-size:40px;"></i>
                    <p class="text-48">Looking for a job?</p>
                    <p class="text-20">Job seeker</p>
                </div>
                <div class="card-body">
                    <div class="account-type-hints">
                        <div class="mt-2">
                            <i class="bi bi-check2-circle" style="color:#039855"></i> <span class="hint-16">Product Benefit</span> 
                        </div>
                        <div class="mt-2">
                            <i class="bi bi-check2-circle" style="color:#039855"></i> <span class="hint-16">Product Benefit</span>
                        </div>
                        <div class="mt-2">
                            <i class="bi bi-check2-circle" style="color:#039855"></i> <span class="hint-16">Product Benefit</span> 
                        </div>
                        <div class="mt-2">
                            <i class="bi bi-check2-circle" style="color:#039855"></i> <span class="hint-16">Product Benefit</span>
                        </div>
                        <div class="mt-2">
                            <i class="bi bi-check2-circle" style="color:#039855"></i> <span class="hint-16">Product Benefit</span>
                        </div>
                    </div>
                    <br />
                    <form asp-page="./Register" method="post">
                        <input id="EmailAddress_input" asp-for="EmailAddress" type="text" hidden />
                        <input name="AccountType" value="0" type="number" hidden />
                        <input name="Source" value="AccountTypePage" type="text" hidden />
                        <button class="btn btn-primary" type="submit" style="width:100%">Get Started</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col" style="min-width:300px; margin-bottom:2%;">
            <div class="card">
                <div class="card-header text-center">
                    <i class="bi bi-pencil-square" style="color:#2F70B6; font-size:40px;"></i>
                    <p class="text-48">Posting a job?</p>
                    <p class="text-20">Organisation</p>
                </div>
                <div class="card-body">
                    <div class="account-type-hints">
                        <div class="mt-2">
                            <i class="bi bi-check2-circle" style="color:#039855"></i> <span class="hint-16">Product Benefit</span>
                        </div>
                        <div class="mt-2">
                            <i class="bi bi-check2-circle" style="color:#039855"></i> <span class="hint-16">Product Benefit</span>
                        </div>
                        <div class="mt-2">
                            <i class="bi bi-check2-circle" style="color:#039855"></i> <span class="hint-16">Product Benefit</span>
                        </div>
                        <div class="mt-2">
                            <i class="bi bi-check2-circle" style="color:#039855"></i> <span class="hint-16">Product Benefit</span>
                        </div>
                        <div class="mt-2">
                            <i class="bi bi-check2-circle" style="color:#039855"></i> <span class="hint-16">Product Benefit</span>
                        </div>
                    </div>
                    <br />
                    <form asp-page="./Register" method="post">
                        <input id="EmailAddress_input" asp-for="EmailAddress" type="text" hidden />
                        <input name="AccountType" value="1" type="number" hidden />
                        <input name="Source" value="AccountTypePage" type="text" hidden />
                        <button class="btn btn-primary" type="submit" style="width:100%">Get started</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>