@page
@using Collabed.JobPortal.Localization;
@using Microsoft.AspNetCore.Mvc.Localization
@model Collabed.JobPortal.Web.Pages.Account.CustomConfirmEmailModel


<div class="text-center" style="margin-top:7%;">
    <img src="~/images/customIcons/BMT_check-green-background.png" width="56px" height="56px" />
</div>
<div class="text-center" style="margin-top: 2%;">
    @if (Model.IsOrganisation)
    {
        <p class="heading-gray-30">Welcome<br />@(Model.DisplayName)!</p>
    }
    else
    {
        <p class="heading-gray-30">Welcome, @(Model.DisplayName)!</p>
    }
    <div>
        <img src="~/images/logo/BMT_Primary Full.png" style="margin-bottom:2%" width="252px" height="100px" />
    </div>
    <div>
        <p class="hint-16" style="margin-bottom: 0.5rem">You have successfully verified your account.</p>
        <a type="button" href="../jobdashboard" class="btn btn-primary" style="margin-bottom:0.5rem;margin-top:0.5rem; width:100%;max-width:388px;">View job dashboard</a>
        <p class="hint-14">Need help? <a type="button" class="btn btn-link-secondary" href="#">Contact us</a></p>
    </div>
</div>