
@page
@inject IHtmlLocalizer<AccountResource> L
@using Collabed.JobPortal.Web.Pages.Account;
@using Collabed.JobPortal.Web.Pages.Shared.Components.Input;
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.Account.Web.Pages.Account;
@model ForgotPasswordModel
@inject Volo.Abp.AspNetCore.Mvc.UI.Layout.IPageLayout PageLayout

<abp-script src="/Pages/Account/ForgotPassword.js" />
<abp-style src="/input1.css"></abp-style>

<div style="max-width:360px; margin: auto;">
    <div style="text-align:center">
        <img src="~/images/logo/BMT_Primary Full_symbol.png" alt="BuildMyTalent" width="40" height="54" />
    </div>
    <div class="text-center" style="width: 360px; margin-top: 7%">
        <p class="heading-30">Forgot Password</p>
        <p class="hint-16">Don’t worry! It happens. Please enter the email associated with your account.</p>
    </div>

    <form method="post" asp-page="./PasswordResetLinkSent" id="resetPasswordButton" id="resetPasswordForm" onsubmit="checkIfEmailExists(event)">
        @await Component.InvokeAsync("Input", new InputViewModel(){ InputType = "text", PropertyName = nameof(Model.Email), HtmlTitle=Model.Email,
            PrependIcon = "bi bi-envelope", Label = "Email", Hint= "Please enter your email address", OnKeyUp = "togglePasswordButton()"})
        <div class="d-grid gap-2">
            <abp-button type="submit" class="btn btn-outline-secondary" id="resetPasswordButton" style="margin-top:1rem;" disabled="true">Reset password</abp-button>
        </div>
    </form>
    <div class="text-center" style="margin-top:2rem">
        <p class="hint-14">Remembered password? <a href="Login" style="text-decoration:underline; font-weight:900;">Reset password</a></p>
    </div>
</div>