@page
@using Collabed.JobPortal.Localization;
@using Collabed.JobPortal.Web.Pages.Account;
@using Collabed.JobPortal.Web.Pages.Shared.Components.Input;
@using Microsoft.AspNetCore.Mvc.Localization;
@using Volo.Abp.Account.Localization;
@using Volo.Abp.Account.Web.Pages.Account;
@inject IHtmlLocalizer<JobPortalResource> L
@model BMTLoginModel


<abp-script src="/Pages/Account/Login.js" />
<abp-script src="/Pages/Account/PasswordVisibilityIcon.js" />
<abp-style src="/input1.css"></abp-style>

<div style="max-width:400px; margin: auto;">
    <div style="text-align:center">
        <img src="~/images/logo/BMT_Primary Full_symbol.png" alt="BuildMyTalent" width="40" height="54" />
    </div>
    <div class="text-center" style="width: 400px; margin-top: 7%">
        <p class="heading-30">Log in to your account</p>
        <p class="hint-16">Welcome back! Please enter your details.</p>
        <form asp-page="./Login" asp-page-handler="ExternalLogin" method="post">
            <button type="submit" class="btn btn-primary" style="width:100%; background-color:#0A66C2 !important;" name="provider" value="LinkedIn" title="LinkedIn"><i class="bi bi-linkedin"></i>       Login with LinkedIn</button>
        </form>
        <br />
        @await Component.InvokeAsync("DividerOr", null)
    </div>

    <form method="post" onsubmit="checkIfUserExists(event)" id="loginForm" class="mt-4">
        @await Component.InvokeAsync("Input", new InputViewModel(){ InputType = "text", PropertyName = nameof(Model.UserNameOrEmailAddress), HtmlTitle=Model.UserNameOrEmailAddress,
            PrependIcon = "bi bi-envelope", Label = "Email", InlineWithPassword = true, Hint= "Please enter your email address"})
        @await Component.InvokeAsync("Input", new InputViewModel(){ InputType = "password", PropertyName = "Password", HtmlTitle="Password",
            Label = "Password", Hint= "Please enter your password",PrependIcon = "bi bi-lock", IsPassword = true})
        <abp-row style="margin-top:1rem;">
            <abp-column>
                <div class="form-check">
                    <input class="form-check-input" asp-for="@Model.RememberMe" type="checkbox" id="rememberMeCheck">
                    <label for="rememberMeCheck" class="text-14">
                       Remember me
                    </label>
                </div>
            </abp-column>
            <abp-column class="text-end">
                <a class="link-14" href="@Url.Page("./ForgotPassword", new {returnUrl = Model.ReturnUrl, returnUrlHash = Model.ReturnUrlHash})">Forgot Password</a>
            </abp-column>
        </abp-row>
        <div class="d-grid gap-2">
            <abp-button type="submit" name="Action" value="Login" class="btn btn-outline-secondary" id="loginButton" style="margin-top:1rem;">Log in</abp-button>
        </div>
    </form>
    <div class="text-center" style="margin-top:2rem">
        <p class="hint-14">Don't have an account? <a href="AccountType" style="text-decoration:underline; font-weight:900;">Sign up</a></p>
    </div>
</div>