@page
@using Collabed.JobPortal.Web.Pages.Account;
@model PasswordResetLinkSentModel

<abp-style src="/input1.css"></abp-style>

<div style="max-width:400px; margin: auto;">
    <div class="text-center" style="width: 400px; margin-top:7%;">
        <img src="~/images/logo/BMT_Primary Full_symbol.png" alt="BuildMyTalent" width="40" height="54" />
        <p class="heading-30" style="margin-top:7%">Password reset link sent</p>
        <p class="text-16">We sent an email to <strong>@Model.Email</strong></p>
        <p class="text-16" style="margin-top:5%;">Please check your email address. If it doesn’t show up in the email box, please check the spam folder.</p>
        <p class="hint-16" style="margin-top:5%;">Still can't find the email?</p>
        <form id="resendEmailForm" method="post">
            <input asp-for="Email" hidden />
            <abp-button class="btn btn-primary" type="submit" style="width:100%;"id="submitButton">Re-send email</abp-button>
        </form>
        <p class="hint-14" style="margin-top:5%">Need help? <a href="#" style="text-decoration:underline; line-height:21px; font-size:14px; color: #2F70B6; font-weight:600;">Contact us</a></p>
    </div>
</div>