@page
@using Collabed.JobPortal.Localization;
@using Microsoft.AspNetCore.Mvc.Localization
@model Collabed.JobPortal.Web.Pages.Account.CustomRegisterConfirmationModel
@inject IHtmlLocalizer<JobPortalResource> L
@{
    ViewData["Title"] = L["RegisterConfirmation"];
}

<abp-style src="/input1.css"></abp-style>

<div class="text-center" style="margin-top: 7%">
    <img src="~/images/logo/BMT_Primary Full_symbol.png" style="margin-bottom:2%" width="40px" height="53px"/>
    <h4>Your account has<br />successfully been created</h4>
    <p>Yout're almost there! We sent an email to<br /><strong>@Model.EmailAddress</strong></p>
    <div>
        Just click on the link in the email to complete<br />your sign up. If you don't see it, you may need to<br />check your spam folder.
    </div>
    <div style="margin-top: 6%">
        <form method="post">
            <input type="hidden" asp-for="@Model.EmailAddress"/>
            <p class="hint-16" style="margin-bottom: 0.25rem">Still can't find the email?</p>
            <button class="btn btn-primary" type="submit" id="resendEmailButton" style="width:30%; min-width: 300px;">Resend email</button>
        </form>
        <p class="hint-16">Need help? <a type="button" href="#" style="color: #2F70B6; font-size:14px; font-weight:600;">Contact us</a></p>
    </div>
</div>