@page
@using Collabed.JobPortal.Web.Pages.Account;
@using Collabed.JobPortal.Web.Pages.Shared.Components.Input;
@model ResetPasswordModel

<abp-script src="/Pages/Account/ResetPassword.js" />
<abp-script src="/Pages/Account/PasswordVisibilityIcon.js" />
<abp-style src="/input1.css"></abp-style>

<div style="max-width:400px; margin: auto;">
    <div style="text-align:center">
        <img src="~/images/logo/BMT_Primary Full_symbol.png" alt="BuildMyTalent" width="40" height="54" />
    </div>
    <div class="text-center" style="width: 400px; margin-top: 7%">
        <p class="heading-30">Reset Password</p>
        <p class="hint-16">Please enter a new password for <br /><strong>@Model.Email</strong></p>
    </div>

    <form method="post" onsubmit="checkIfUserExists(event)" id="loginForm" class="mt-4">
        @await Component.InvokeAsync("Input", new InputViewModel(){ InputType = "password", PropertyName = nameof(Model.Password), HtmlTitle=nameof(Model.Password),
            Label = "Password *",PrependIcon = "bi bi-lock", AppendIcon = "bi bi-exclamation-circle", IsPassword = true, OnKeyUp="validatePassword(true); validateForm();"})
        <div>
            <p id="hintParagraph">Your password must contain:</p>
            <p>
                <i class="bi bi-dot" id="caseIcon"></i><span id="caseHint">Uppercase and lowercase letters</span><br />
                <i class="bi bi-dot" id="lengthIcon"></i><span id="lengthHint">At least 8 characters</span><br />
                <i class="bi bi-dot" id="nonAlphanumericIcon"></i><span id="nonAlphanumericParagraph">A number and a symbol</span>
            </p>
        </div>
        @await Component.InvokeAsync("Input", new InputViewModel(){ InputType = "password", PropertyName = nameof(Model.ConfirmPassword), HtmlTitle=nameof(Model.ConfirmPassword),
        Label = "Confirm Password *", PrependIcon = "bi bi-lock", AppendIcon = "bi bi-exclamation-circle", IsPassword = true, OnKeyUp="validateConfirmPassword(true); validateForm()"})
        <div class="d-grid gap-2">
            <abp-button type="submit" name="Action" value="Login" class="btn btn-primary" id="loginButton" style="margin-top:1rem;">Save</abp-button>
        </div>
    </form>
</div>

<div class="modal fade" id="passwordChangedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div style="margin:2%">
                <p style="color:#12B76A"><i class="bi bi-check2-circle" style="font-size:24px;"></i></p>
                <p class="text-18" style="margin-top:2%">Password changed</p>
                <p class="text-14" style="margin-top:2%">Your password has been changed successfully</p>
                <form method="get" asp-page="./Login">
                    <abp-button class="btn btn-primary" type="submit">Log in</abp-button>    
                </form>
            </div>
        </div>
    </div>
</div>