@page
@model Collabed.JobPortal.Web.Pages.Account.ResetPasswordConfirmationModel

<div class="text-center">
    <div style="margin:2%;">
        <img src="~/images/logo/BMT_Primary Full_symbol.png" style="margin-bottom:2%" width="40px" height="53px"/>
        <p class="heading-30">Password changed</p>
        <p class="text-14">Your password has been changed successfully</p>
        <form method="get" asp-page="./Login">
            <abp-button class="btn btn-primary" type="submit" style="width:400px; margin-top:1%;">Log in</abp-button>
        </form>
    </div>
</div>
