@page
@model Collabed.JobPortal.Web.Pages.Account.ResetPasswordConfirmationModel

<div class="text-center">
    <div style="margin:2%;">
        <p style="color:#12B76A"><i class="bi bi-check2-circle" style="font-size:24px;"></i></p>
        <p class="text-18" style="margin-top:2%">Password changed</p>
        <p class="text-14" style="margin-top:2%">Your password has been changed successfully</p>
        <form method="get" asp-page="./Login">
            <abp-button class="btn btn-primary" type="submit" style="width:400px;">Log in</abp-button>
        </form>
    </div>
</div>
