@page
@using Collabed.JobPortal.Web.Pages.Shared.Components.Input;
@model Collabed.JobPortal.Web.Pages.Account.SignUpModel

<abp-script src="/Pages/Account/SignUp.js" />

<div style="max-width:400px; margin: auto;">
    <div style="text-align:center">
        <img src="~/images/logo/BMT_Primary Full_symbol.png" alt="BuildMyTalent" width="40" height="54" />
    </div>
    <div class="text-center" style="margin-top:7%">
        <p class="heading-30">Register your account</p>
        <p class="text-16">Great to have you here!
        <br />Please enter your details.</p>
        <br />
        @if (Model.ExternalProviders.Any())
        {
            <div style="width:100%">
                @foreach (var provider in Model.ExternalProviders)
                {
                    <form asp-page="./Login" asp-page-handler="ExternalLogin" method="post">
                        <button type="submit" class="btn btn-primary" style="width:100%" name="provider" value="@provider.AuthenticationScheme" title="@provider.DisplayName"><i class="bi bi-linkedin"></i>       Sign up with @provider.DisplayName</button>
                    </form>
                }
            </div>
        }
        <br />
        @await Component.InvokeAsync("DividerOr", null)
    </div>
    <br />
    <form asp-page="./Register" method="post" id="localUserForm" onsubmit="checkIfEmailExists(event)">
        <input name="Source" value="SignUp" type="text" hidden />
        @await Component.InvokeAsync("Input", new InputViewModel(){ InputType = "text", PropertyName = nameof(Model.EmailAddress), HtmlTitle=Model.EmailAddress, OnKeyUp = "validateEmail()",
            PrependIcon = "bi bi-envelope", Label = "Email", Hint= "Please enter your email address"})

        <br />
        <button type="submit" class="btn btn-outline-secondary" id="getStartedButton" style="width:100%" title="GetStarted" disabled>Get Started</button>
    </form>
    <br />
    <br />
    <br />
    <br />

    <div class="text-center">
        Already have an account? <a href="@Url.Page("./Login")">Log in</a>
    </div>
</div>