/* Your Global Styles */
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/static/Montserrat-Regular.ttf');
}

:root {
    --neutral-white: #FAFAFA;
    --neutral25: #FCFCFD;
    --neutral200: #EAECF0;
    --neutral300: #D0D5DD;
    --neutral500: #667085;
    --neutral600: #475467;
    --neutral700: #344054;
    --neutral900: #101828;
    --secondary800: #2F70B6;
    --gray900: #101828;
}

::-ms-reveal {
    display: none;
}

input {
    background-color: var(--neutral-white);
}

input[type=checkbox]:checked {
    background-color: var(--secondary800);
}

body {
    font-family: 'Montserrat';
    color: var(--neutral600);
    background-color: var(--neutral-white);
}

label {
    color: var(--neutral700);
    font-size:14px;
    font-weight: 600;
}

.modal-content {
    width:400px !important;
}

.input-group-password-icon {
    width: 20px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.footer {
    position: fixed;
    height: 76px;
    width: 100%;
    bottom: 0;
    background-color: var(--neutral25);
}

.footer-contents {
    padding: 1.5rem
}



.spacer {
    margin-bottom: 90px; 
    visibility: hidden;
}

.card {
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
}

.card-header {
    background-color: white;
    border: 0px;
}

.input-group-error {
    height: 30px;
    border: 1px solid;
    border-color: red;
    background-color: white;
    border-radius: 6px;
}

.input-group {
    height: 30px;
    background-color: white;
}

.input-group-correct {
    border: 1px solid;
    border-color: var(--neutral300);
    border-radius: 6px;
}

.text-validation-error {
    color: red;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    outline: 0 none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
}

input:focus {
    outline: 0 none !important;
    box-shadow:none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
}

.form-control {
    height: 100%;
    display: block;
    width: 100%;
    padding: 10px;
    color: dimgray;
    background-clip: padding-box;
    border: 0px;
    appearance: none;
    outline: 0 none !important;
}

.form-control :focus {
    outline: 0px !important;
}

.input-group:focus-within {
    outline: 3px solid #CED7E4;
}


.input-group-prepend {
    width: 30px;
    border-right: 1px;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 6px;
    display: flex;
    place-content: center;
    place-items: center;
    background-color: white;
}

.input-group-append {
    width: 30px;
    border-left: 0px;
    border-right: 1px;
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 6px;
    display: flex;
    place-content: center;
    place-items: center;
    background-color: white;
}

.hint-14 {
    font-size: 14px;
    color: var(--neutral500);
}

.hint-16 {
    font-size: 16px;
    font-weight: 400;
    color: var(--neutral600);
}

.text-48 {
    font-size: 48px;
    font-weight: 600;
    color: var(--neutral900);
}

.text-30 {
    font-size: 30px;
    color: var(--neutral900);
}

.heading-gray-30 {
    font-size:30px;
    color: var(--gray900);
    font-weight:600;
}

.heading-30 {
    font-size: 30px;
    color: var(--neutral900);
    font-weight:600;
}

.text-20 {
    font-size: 20px;
    font-weight: 400;
    color: var(--neutral900);
}

.text-18 {
    font-size: 18px;
    font-weight: 600;
    color: var(--neutral900);
}

.text-16 {
    font-size: 16px;
    font-weight: 400;
    color: var(--neutral600);
}

.text-14 {
    font-size: 14px;
    font-weight: 400;
    color: var(--neutral600);
}

.link-14 {
    font-size: 14px;
    font-weight: 600;
    color: var(--neutral500);
    text-decoration: underline;
}