/* Your Global Styles */
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/static/Montserrat-Regular.ttf');
}

@media (min-width: 1900px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1832px;
    }
}

:root {
    --neutral-white: #FAFAFA;
    --neutral25: #FCFCFD;
    --neutral100: #F2F4F7;
    --neutral200: #EAECF0;
    --neutral300: #D0D5DD;
    --neutral500: #667085;
    --neutral600: #475467;
    --neutral700: #344054;
    --neutral900: #101828;
    --secondary800: #2F70B6;
    --gray300: #DEE2E6;
    --gray900: #101828;
    --primary800: #0C3779;
    --theme-primary: #2F70B6;
    --theme-secondary: #344054;
    --theme-danger: #DC3545;
}

::-ms-reveal {
    display: none;
}

li.nav-item {
    margin-inline: 6px;
}

.tab-content {
    background-color: var(--neutral25);
    border: 1px solid #DEE2E6;
}

body {
    font-family: 'Montserrat';
    color: var(--neutral600);
    background-color: var(--neutral-white);
}

label {
    color: var(--neutral700);
    font-size:14px;
    font-weight: 600;
}

.modal-content {
    width:400px !important;
}

.body-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex-grow: 1;
}

.footer {
    height: 76px;
    width: 100%;
    background-color: var(--neutral25);
}

.footer-contents {
    padding: 1.5rem
}

.btn-primary {
    background-color: var(--secondary800) !important;
    border-color: var(--secondary800) !important;
    border-radius: 8px !important;
    color: #FAFAFA !important;
}

.btn-primary:disabled {
    background-color: var(--neutral300) !important;
    border-color: var(--neutral300) !important;
}

.btn-primary:active {
    background-color: var(--primary800) !important;
}

.btn-primary:hover {
    background-color: var(--primary800) !important;
}

.btn-primary:focus {
    outline: 4px solid var(--neutral300) !important;
    box-shadow: 0px 0px 0px 4px var(--neutral300);
}

.btn-primary-14 {
    background-color: var(--secondary800) !important;
    border-color: var(--secondary800) !important;
    border-radius: 8px !important;
    color: #FAFAFA !important;
}

    .btn-primary-14:disabled {
        background-color: var(--neutral300) !important;
        border-color: var(--neutral300) !important;
    }

    .btn-primary-14:active {
        background-color: var(--primary800) !important;
    }

    .btn-primary-14:hover {
        background-color: var(--primary800) !important;
    }

    .btn-primary-14:focus {
        outline: 4px solid var(--neutral300) !important;
        box-shadow: 0px 0px 0px 4px var(--neutral300);
    }

.card-header-tabs .nav-link.active {
    background-color: var(--neutral-white);
    border-bottom-color: var(--neutral25);
}

.spacer {
    margin-bottom: 90px; 
    visibility: hidden;
}

.card {
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
}

.card-header {
    background-color: white;
    border: 0px;
}

.text-validation-error {
    color: var(--theme-danger);
}

.error-message-span {
    color: var(--theme-danger);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.red-border {
    border: 1px solid #DC3545;
}

.hint-14-bold {
    font-size: 14px;
    color: #212529;
    font-weight:600;
}

.hint-14 {
    font-size: 14px;
    color: var(--neutral500);
}

.hint-16 {
    font-size: 16px;
    font-weight: 400;
    color: var(--neutral600);
}

.text-48 {
    font-size: 48px;
    font-weight: 600;
    color: var(--neutral900);
}

.text-30 {
    font-size: 30px;
    color: var(--neutral900);
}

.heading-gray-30 {
    font-size:30px;
    color: var(--gray900);
    font-weight:600;
}

.heading-30 {
    font-size: 30px;
    color: var(--neutral900);
    font-weight:600;
}

.text-20 {
    font-size: 20px;
    font-weight: 400;
    color: var(--neutral900);
}

.text-18 {
    font-size: 18px;
    font-weight: 600;
    color: var(--neutral900);
}

.text-16 {
    font-size: 16px;
    font-weight: 400;
    color: var(--neutral600);
}

.text-16-bold {
    font-size: 16px;
    font-weight: 600;
    color: var(--neutral700);
}

.text-14 {
    font-size: 14px;
    font-weight: 400;
    color: var(--neutral600);
}

.link-14 {
    font-size: 14px;
    font-weight: 600;
    color: var(--neutral500);
    text-decoration: underline;
}