

/* Deprecated input */


:root {
    --neutral-white: #FAFAFA;
    --neutral25: #FCFCFD;
    --neutral100: #F2F4F7;
    --neutral200: #EAECF0;
    --neutral300: #D0D5DD;
    --neutral500: #667085;
    --neutral600: #475467;
    --neutral700: #344054;
    --neutral900: #101828;
    --secondary800: #2F70B6;
    --gray300: #DEE2E6;
    --gray900: #101828;
    --primary800: #0C3779;
    --theme-danger: #DC3545;
}

.input-group-error {
    height: 30px;
    border: 1px solid;
    border-color: var(--theme-danger);
    background-color: white;
    border-radius: 6px;
}

.input-group {
    height: 30px;
    background-color: white;
}

.input-group-correct {
    border: 1px solid;
    border-color: var(--neutral300);
    border-radius: 6px;
}

.input-group:focus-within {
    outline: 3px solid #CED7E4;
}


.input-group-prepend {
    width: 30px;
    border-right: 1px;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 6px;
    display: flex;
    place-content: center;
    place-items: center;
    background-color: white;
}

.input-group-append {
    width: 30px;
    border-left: 0px;
    border-right: 1px;
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 6px;
    display: flex;
    place-content: center;
    place-items: center;
    background-color: white;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    outline: 0 none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
}

input:focus {
    outline: 0 none !important;
    box-shadow: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
}

input {
    background-color: var(--neutral-white);
}

    input[type=checkbox]:checked {
        background-color: var(--secondary800);
    }
.form-control {
    height: 100%;
    display: block;
    width: 100%;
    padding: 10px;
    color: dimgray;
    background-clip: padding-box;
    border: 0px;
    appearance: none;
    outline: 0 none !important;
}

    .form-control :focus {
        outline: 0px !important;
    }