@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Toolbars
@model Toolbar
@foreach (var toolbarItem in Model.Items.OrderBy(i => i.Order))
{
    <li class="nav-item">@(await Component.InvokeAsync(toolbarItem.ComponentType))</li>
}
@if (!User.Identity.IsAuthenticated)
{
    <li class="nav-item"><a class="btn btn-primary" href="@Url.Page("/Account/SignUp")">Sign up</a></li>
}