@model Volo.Abp.AspNetCore.Mvc.UI.Components.LayoutHook.LayoutHookViewModel

<div class="footer mt-auto">
    <div class="footer-contents">
        <abp-row>
            <abp-column>
                © BuildMyTalent 2023
            </abp-column>
            <abp-column style="text-align:right; font-size:larger;">
                <a href="#"><i class="bi bi-question-circle"></i></a>
            </abp-column>
        </abp-row>
    </div>
</div>