@model Volo.Abp.AspNetCore.Mvc.UI.Components.LayoutHook.LayoutHookViewModel

<div class="footer mt-auto">
    <div class="footer-contents">
        <abp-row>
            <abp-column>
                © BuildMyTalent 2024
            </abp-column>
            <abp-column style="text-align:right; font-size:larger; position: fixed; bottom: 20px; right: 15px;max-width: 50px;">
                <a href="https://buildmytalent.com/support/"><i class="bi bi-question-circle"></i></a>
            </abp-column>
        </abp-row>
    </div>
</div>